@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "SUSE", sans-serif;
}

button {
  font-family: inherit;
}

a {
	color: #FF7F11;
	font-style: italic;
}
